body {
  width: 100%;
  background: #000;
  color: #fff;
  font-family: "Cabin";
  margin: 0px; 
}

/* button {
  background-color: #242424;
  color: #ffff;
  padding: 0.5rem 0.75rem;
} */

button:hover {
  cursor: pointer;
}

/* NAVBAR PAGE */

.NavBar{
  display: flex;
  margin: 0 20px;
  box-sizing: border-box;
  /* align-items: center; */
  justify-content: space-between;
  padding: 0.5rem;
  width: 100%;
}

/* #root > div {
  height: 100%;
} */

/* LOGIN PAGE */

.loginContainer{
  display: flex;
  flex-direction: column; 
  align-items: center;
  width:100%;
  margin-top: 20%;  
}

.loginContainer .loginBtn{
  margin-top: 10px;
  height: 40px; 
  align-self: center;
  border-radius: 20px;
  border: solid white;
  width: 20%;
  cursor: pointer;
  font-size: 16px;
}

/* #main-page-container {
  display: block;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  justify-content: space-between;
} */

.loginBtn a{
  text-decoration: none;
  color: #242424
}

/* CARD COMPONENT */

.cardContainer {
  /* height: 300px; */
  width: 90vw;
  max-width: 260px;
  height: 300px;
}

#card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cardContainer {
  position: relative;
}

.card {
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 260px;
  height: 300px;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

#albumPicture img {
  width: 100%;
}

div.swipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;

}

/* MAIN PAGE */

.mainPageContainer{
  height: 100vh;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainCardContainer{
  /* width: 100%; */
  /* height: 100%; */
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.mainPageContainer .cardBtn{
  margin-top: 10px;
  height: 40px; 
  align-self: center;
  border-radius: 20px;
  border: solid white;
  width: 25%;
  cursor: pointer;
  font-size: 16px;
}

/* MAIN PAGE

.mainPageContainer{
  height: 100vh;
  overflow: hidden;
}

.mainCardContainer{
  width: 100%;
  height: 100%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

/* EXPLORE PAGE */

.exploreContainer .carousel {
  display: flex;
  margin: auto;
  width: 100%;
  height: 300px;
}

.exploreContainer .genreContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}

.exploreContainer .searchContainer{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: -15px;
  align-items: center;
}

.genreContainer .genreWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.searchContainer input{
  padding:  0px 15px;
  border-radius: 20px;
  height: 40px;
 border: none;
  margin-right: 20px;
}

.searchContainer .searchBtn{

  height: 40px; 
  align-self: center;
  border-radius: 20px;
  border: solid white;
  width: 8%;
  cursor: pointer;
  background-color: #242424;
  color:#fff;
}

.exploreContainer .btn{
  margin-top: 10px;
  height: 40px;
  padding: 0px 20px;
  align-self: center;
  border-radius: 20px;
  background-color: #242424;
  color:#fff;
  border: solid white;
  width: 45%;
  cursor: pointer;
}

.exploreContainer .btn:hover, .searchBtn:hover, .loginBtn:hover, .cardBtn{
  border: 1px solid rgb(46, 46, 243);
  -webkit-box-shadow: 4px 0px 40px 7px rgba(61,60,61,1);
  -moz-box-shadow: 4px 0px 40px 7px rgba(61,60,61,1);
  box-shadow: 4px 0px 40px 7px rgba(61,60,61,1);
}

.genreWrapper .btn {
  margin-top: 10px;
  height: 40px;
  padding: 0px 20px;
  align-self: center;
  border-radius: 20px;
  border: solid white;
  width: 45%;
  cursor: pointer;
}

.genreWrapper .btn:hover {
  border: 1px solid rgb(46, 46, 243);
  -webkit-box-shadow: 4px 0px 40px 7px rgba(61, 60, 61, 1);
  -moz-box-shadow: 4px 0px 40px 7px rgba(61, 60, 61, 1);
  box-shadow: 4px 0px 40px 7px rgba(61, 60, 61, 1);
}

/* START OF PLAYLIST STYLING */

.playlistContainer{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
}

.playlist-container {
  width: 300px;
  border: 1px solid #fff;
  padding: 0 1rem 1.2rem 1rem;
}

.playlist-container > div > li {
  list-style: none;
  margin-bottom: 10px;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
}

.list-container {
  margin-top: 1rem;
  max-height: 225px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.list-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.textBox {
  width: 200px;
  height: 30px;
  border: 1px solid #000;
  overflow: hidden;
  line-height: 30px;
  position: relative;
  margin-right: 20px;
}
.textBox span {
  position: absolute;
  white-space: nowrap;
  transform: translateX(0);
  transition: 3s;
}
.textBox:hover span {
  transform: translateX(calc(200px - 100%));
}

.playlistContainer .playlistBtn{
  margin-top: 10px;
  height: 40px;
  padding: 0px 20px;
  align-self: center;
  border-radius: 20px;
  background-color: #242424;
  color:#fff;
  border: solid white;
  cursor: pointer;
}

/*EXPLORE PAGE */

/* .exploreContainer .carousel {
  display: flex;
  margin: auto;

  /* background-repeat: no-repeat; */
  /* width: 100%;
  height: 300px;
} */

/* .exploreContainer .genreContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}

.genreContainer .genreWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.genreWrapper .btn {
  margin-top: 10px;
  height: 40px;
  padding: 0px 20px;
  align-self: center;
  border-radius: 20px;
  border: solid white;
  width: 45%;
  cursor: pointer;
}

.genreWrapper .btn:hover {
  border: 1px solid rgb(46, 46, 243);
  -webkit-box-shadow: 4px 0px 40px 7px rgba(61, 60, 61, 1);
  -moz-box-shadow: 4px 0px 40px 7px rgba(61, 60, 61, 1);
  box-shadow: 4px 0px 40px 7px rgba(61, 60, 61, 1);
} */ 
/* 
PLAYLIST */ 
/* .playlist-container {
  border: 1px solid #fff;
  padding: 0 1rem 1rem 1rem;
}

.playlist-container > div > li {
  list-style: none;
  margin-bottom: 10px;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
}

.list-container {
  margin-top: 1rem;
  max-height: 225px;
  overflow-y: scroll;
}

.list-container {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  /* scrollbar-width: none; /* Firefox */
/*} */
/*.list-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
/*}

.textBox {
  width: 200px;
  height: 30px;
  border: 1px solid #000;
  overflow: hidden;
  line-height: 30px;
  position: relative;
  margin-right: 20px;
}
.textBox span {
  position: absolute;
  white-space: nowrap;
  transform: translateX(0);
  transition: 3s;
}
.textBox:hover span {
  transform: translateX(calc(200px - 100%));
}

@keyframes popup {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 1.1);
  }
  30% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1, 1);
  }
  57% {
    transform: scale(1, 1);
  }
  64% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}  */

/* EXPLORE PAGE */
/* 
.exploreContainer .carousel{
  display: flex;
 margin: auto;
  width: 100%;
  height: 300px;
  
}

.exploreContainer .genreContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
  
}

.exploreContainer .searchContainer{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: -15px;
  align-items: center;
}

.genreContainer .genreWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
 
}

.searchContainer input{
  padding:  0px 15px;
  border-radius: 20px;
  height: 40px;
 border: none;
  margin-right: 20px;
}

.searchContainer .searchBtn{

  height: 40px; 
  align-self: center;
  border-radius: 20px;
  border: solid white;
  width: 8%;
  cursor: pointer;
  background-color: #242424;
  color:#fff;
}

.exploreContainer .btn{
  margin-top: 10px;
  height: 40px;
  padding: 0px 20px;
  align-self: center;
  border-radius: 20px;
  background-color: #242424;
  color:#fff;
  border: solid white;
  width: 45%;
  cursor: pointer;
}

.exploreContainer .btn:hover, .searchBtn:hover, .loginBtn:hover{
  border: 1px solid rgb(46, 46, 243);
  -webkit-box-shadow: 4px 0px 40px 7px rgba(61,60,61,1);
-moz-box-shadow: 4px 0px 40px 7px rgba(61,60,61,1);
box-shadow: 4px 0px 40px 7px rgba(61,60,61,1);
}  */